.pragmatic_logo {
    font-family: 'Ga Maamli', sans-serif;
}

.pragmatic_footer_button {
    font-size: .9rem;
}

.pragmatic_footer {
    text-align: center;
    margin-top: 2rem;
}

.pragmatic_header {
    text-align: center;
    margin-bottom: 2rem 0;
}

@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}

a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

.prgmatic_header_nav{
    margin: 0 0.50rem;
}


.prgmatic_header_navber{
    margin: 12rem 0;
}